<?xml version="1.0" encoding="UTF-8"?>
<config>
    <server>
        <auth>true</auth>
        <logPath>/tmp/dagent/dagent.log</logPath>
        <remoteHost>0.0.0.0</remoteHost>
    </server>
    <nginx>
        <confdDir>/tmp/dagent/conf.d</confdDir>
        <confdBakDir>/tmp</confdBakDir>
        <cmdStart>ps -ef|grep nginx</cmdStart>
        <cmdStop>ps -ef|grep nginx</cmdStop>
        <cmdReload>ps -ef|grep nginx</cmdReload>
        <cmdTest>ps -ef|grep nginx</cmdTest>
        <cmdCheck>ps -ef|grep nginx|grep master|grep -v grep</cmdCheck>
    </nginx>
</config>
